# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdata/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3

# macOS files
.DS_Store

# SwiftPM
.swiftpm/
.build/

# Logs
*.log

# Bundled App
*.app
*.dmg

# Xcode preview/device settings
*.icloud
*.xcscmblueprint
*.xccheckout

# Icon files
*.icns
